################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.vsidx
/appointmentSystem/.vs/appointmentSystem/v17/.suo
/appointmentSystem/.vs/appointmentSystem/v17/DocumentLayout.json
/appointmentSystem/appointmentSystem/bin/Debug/net8.0/appointmentSystem.dll
/appointmentSystem/appointmentSystem/bin/Debug/net8.0/appointmentSystem.exe
/appointmentSystem/appointmentSystem/bin/Debug/net8.0/appointmentSystem.pdb
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/ref/appointmentSystem.dll
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/refint/appointmentSystem.dll
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/apphost.exe
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.AssemblyInfo.cs
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.AssemblyInfoInputs.cache
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.csproj.FileListAbsolute.txt
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.dll
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.pdb
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/appointmentSystem.sourcelink.json
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/appointmentSystem/appointmentSystem/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/appointmentSystem/.vs/appointmentSystem/v17/DocumentLayout.backup.json
/appointmentSystem
/appointmentSystem/.vs/appointmentSystem/DesignTimeBuild/.dtbcache.v2
/appointmentSystem/.vs/appointmentSystem/v17/.futdcache.v2
/appointmentSystem/.vs/appointmentSystem/FileContentIndex/cca01c55-e652-42b0-8251-063017b44473.vsidx
/appointmentSystem/.vs/appointmentSystem/FileContentIndex/280ea9c9-f956-43f4-9b31-af1e0dc69648.vsidx
